{% extends "film-festival-manager/base.html" %}
{% block title %}
    Create Submission
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Submit a Film</h1>
        </div>
    </div>


    <div class="row">
        <form class="row g-3" action="{{ url_for('submissions.create_submission') }}" method="post">
            <div class="col-md-6">
                <label class="form-label">Title (Original Language)</label>
                <input autocomplete="off" autofocus class="form-control" name="submission-title-original-language" type="text" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Title (English Language)</label>
                <input autocomplete="off" class="form-control" name="submission-title-english-language" type="text">
            </div>
            <div class="col-12">
                <label class="form-label">Synopsis</label>
                <textarea class="form-control" rows="4" name="submission-synopsis" required></textarea>
            </div>
            <div class="col-md-4">
                <label class="form-label">Event</label>
                <select class="form-select" name="submission-event" required>
                    {% for event in events %}
                        {% if event.status != "Active" %}
                            <option value="{{ event.id }}" disabled>{{ event.name }}</option>
                        {% else %}
                            <option value="{{ event.id }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Submission Category</label>
                <select class="form-select" name="submission-category" required>
                            <option hidden disabled selected value> -- select an option -- </option>
                    {% for category in categories %}
                        {% if category.status != "Active" %}
                            <option value="{{ category.id }}" disabled>{{ category.name }}</option>
                        {% else %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Country of Production</label>
                <input autocomplete="off"  class="form-control"name="submission-country-of-production" type="text" required>
            </div>
            <div class="col-md-6">
                <label aria-describedby="submission-url-help" class="form-label">Submission URL</label>
                <input autocomplete="off" class="form-control" name="submission-url" type="text" required>
                <div id="submission-url-help" class="form-text">Streamable and downloadable link to your film submission</div>
            </div>
            <div class="col-md-4">
                <label aria-describedby="submission-password-help" class="form-label">Submission Password</label>
                <input autocomplete="off" class="form-control" name="submission-password" type="text">
                <div id="submission-password-help" class="form-text">Optional</div>
            </div>
            <div class="col-md-2">
                <label class="form-label">Duration</label>
                <input aria-describedby="duration-help" autocomplete="off" class="form-control"name="submission-duration" type="text" required>
                <div id="duration-help" class="form-text">hh:mm:ss</div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
